<p>
  <b>Cpl:</b>
  <%=h @popup_ad.cpl %>
</p>

<p>
  <b>Call to action:</b>
  <%=h @popup_ad.call_to_action %>
</p>

<p>
  <b>Url:</b>
  <%=h @popup_ad.url %>
</p>


<%= link_to 'Edit', edit_popup_ad_path(@popup_ad) %> |
<%= link_to 'Back', popup_ads_path %>