<html>
<head>
	<title>Message Encoder</title>
	<%= stylesheet_link_tag "main" %>
	<%= javascript_include_tag "jquery-1.3.2.min" %>
	<%= javascript_include_tag "jquery.textarearesizer.compressed" %>
	<%= javascript_include_tag "main"%>
	
</head>
<body>
	<div class="errors">
		<%= flash[:errors] %>
		<%= flash[:messages] %>
	</div>
	<div class="bodyContent">
		<%= yield %>
	</div>
	<div class="bodyBackground"> </div>
</body>
</html>